<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quam totam quas incidunt dolore saepe maiores nam nesciunt qui minus.
        </p>
    </header>
    <div class="full-card">
        <div class="card card--primary">
            <header class="card__header">card title</header>
            <div class="card__body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi velit dolor labore unde minus repudiandae totam autem quas corporis similique.
            </div>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, dicta?
        </p>
    </div>
</section>